/* styles.css */

/* Cores Tailwind CSS */
.bg-blue-500 {
  background-color: '#3498db';
}

.text-white {
  color: '#fff';
}

.p-5 {
  padding: 20;
}

.m-5 {
  margin: 20;
}

.rounded-lg {
  border-radius: 15;
}
